/* Mobile */
@media screen and (max-width: 767px) {
  .footer_wrap {
    flex-direction: column;
    gap: 50px;
  }
  /************** FOOTER LEFT **************/
  .footer_left {
    width: 100%;
  }
  .footer_desc {
    font-size: 0.8rem;
  }
  .footer_map {
    width: 100%;
  }

  /************** FOOTER RIGHT **************/
  .footer_right {
    width: 100%;
  }
  .footer_column-title {
    font-size: 0.8rem;
  }
  .footer_column-desc {
    font-size: 0.7rem;
  }
}
