/* PC */
@media screen and (min-width: 992px) {
}
/* Mobile */
@media screen and (max-width: 767px) {
  .header {
    padding: 5px 0;
  }
  .header .container {
    position: relative;
    padding: 0 10px;
    min-width: 100vw;
  }
  .mobile_nav_icon {
    display: block;
    width: 10%;
    color: var(--menu_text_color);
  }
  .mobile_nav_icon:active {
    color: var(--logo_text_color);
    transform: scale(1.2);
  }
  /* pc nav */
  .header__nav {
    display: none;
  }
  /* Logo */
  .header__logo .logo__img {
    width: 20%;
  }
  .header__logo .logo__text--top {
    font-size: 1rem;
  }
  .header__logo .logo__text--bottom {
    font-size: 0.5rem;
  }

  /* HOVER ANIMATIONS */
  .header__logo:hover .logo__img {
    transform: initial;
  }
  .header__logo:hover .logo__text {
    color: initial;
    text-shadow: initial;
  }
  .header__logo:active .logo__img {
    transform: scale(1.15);
  }
  .header__logo:active .logo__text {
    color: #fff;
    text-shadow: 0 0 10px var(--menu_text_color), 0 0 1px var(--menu_text_color),
      0 0 1px var(--menu_text_color), 0 0 1px var(--menu_text_color);
  }
  /* actions */
  .header__actions {
    width: 20%;
  }
  .actions__item:hover .actions__icon {
    transform: initial;
  }
  .actions__item:active .actions__icon {
    transform: scale(1.2);
  }
  /* Mobile Nav */
  .mobile_nav-wrap {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .mobile_nav-backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.5s;
  }
  .mobile_nav-wrap.show .mobile_nav-backdrop {
    opacity: 1;
    visibility: visible;
  }
  .mobile_nav-content {
    position: absolute; /*position from "mobile_nav-wrap"*/
    left: -100%;
    max-width: calc(100vw - 30%);
    min-height: 50vh;
    background-color: var(--background_color-extra);
    padding: 50px 0;
    border-radius: 0 0 20px 0;
    box-shadow: var(--menu_text_color) 1.95px 1.95px 10px;
  }

  .mobile_nav-wrap.show .mobile_nav-content {
    left: 0;
  }

  #closeBtn {
    position: absolute;
    font-size: 3rem;
    color: var(--menu_text_color);
    background-color: transparent;
    border: 0;
    top: 5px;
    left: 10px;
  }

  #closeBtn:active {
    transform: scale(1.3);
    color: var(--background_color-main);
  }

  .mobile_nav-line {
    display: block;
    margin: 10px auto 20px;
    border-radius: 1px;
    width: 70%;
    height: 2px;
    background-color: var(--logo_text_color);
  }

  .mobile_nav-list {
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: start;
  }

  .nav__item {
    justify-content: flex-start;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: rgba(33, 35, 38, 0.5) 0px 10px 10px -10px;
  }
  .no-scroll {
    overflow: hidden;
  }
  /*mobile close  */
}
